.container {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: center;
}

.container-lista {
  margin: 15px 0;
}
.container-lista__home {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 244);
  border-radius: 5px;
  text-align: start;
  padding: 15px;
  font-weight: bold;
  margin: 10px;
  width: 700px;
}
 .circle{
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  width: 60px;
  background: #880e4f;
  flex-direction: row;
  display: flex;
  color: rgb(63, 17, 17);
  }
  .circle .circle_id{
    margin-left: 20px;
    color: #fff;
      }
  .p_text{
    margin-left: 20px;
    color: #fff;
  }
.container-lista__home span{
    color: gray;
}
.container-lista__home a {
  background: #000;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}
.container-lista__home a:hover {
color: antiquewhite;
background: rgb(47, 46, 46);
transition: 0.3;
}